*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}
.head{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head1{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head2{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width:50px;
    
    
}
.head1 ,h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.white{
    color: white;
    font-size: 30px;
}
@media screen and (max-width:750px)
{
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
   
}

.head{
    width: 10%;
}
.logo{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.head1{
    width: 80%;
}
.head1 ,h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.head2{
    width: 10%;
}
.white{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

}
.vid{
    width: 100%;
   
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.vid .vido{
    width: 100%;
 
   
    display: flex;
    justify-content: space-between;
    
}
@media screen and (max-width:750px)
{
    .vid{
        width: 100%;
       max-height: 725px;
       height: auto;
        display: flex;
        justify-content: center;
        
    }

.vido{
    width: 100%;
    height: 425px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    
}




}
    .content{
        width: 100%;
        height: 250px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 60px;
    }
    .content1{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 70px;
    }
    .content2{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
    }
    @media screen and (max-width:750px)
    {
    .content{

        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 25px;
    }
    .content1{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
    }
    .content2{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    }
    .button{
        width: 100%;
        height: 140px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .but{
        width: 450px;
        height: 100px;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .but{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        font-weight: bolder;
    }
    @media screen and (max-width:750px)
    {
    .button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .but{
        width: 250px;
        height:60px;
        
        font-size: 20px;
    }
}
.mainimg .bg1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:750px)
{

.mainimg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg1{
    width: 100%;
    display: flex;
}

}

.contenta{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 65px;
}
.contentl{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:80px;
}
.blue{
    color: blue;
}
.contenta1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:65px;
}
@media screen and (max-width:750px)
{
    .contenta{

        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 25px;
    }
    .contenta1{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
    }
    .contentl{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
    }
}
.paragraph{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
   padding-inline: 80px;
}
.paragraph >div >p{
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:750px)
{
.paragraph{
    width: 100%;
    height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   
    
}
p{
    font-size: 8px;
  
   
}

    
}
.contentab{
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 60px;
}
.image6{
    width: 100%;
    height: 1250px;
    display: flex;
  align-items: center;
  justify-content: center;
    background-color: black;
}
.border{
 width: 800px;
 height: 1200px;
 border: solid;
 display: flex;
 flex-wrap: wrap;
 border-color: blue;
 border-width: 5px;
 background-color: black;

}
.bord{
    width: 393px;
    height: 397px;
    display: flex;
    
}
.im1{
    width: 400px;
    height: 400px;
}
@media screen and (max-width:750px)
{
    .contentab{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .image6{
        width: 100%;
        height: 650px;
        display: flex;
       
        align-items: center;
        justify-content: center;
    }
    .border{
           width: 110px;
           height: 610px;
           display: flex;
          
           align-items:center;
           justify-content: center;
           flex-direction: column;
    }
    .bord{
        width: 100px;
        height: 100px;
}
    .im1{
        width: 100px;
        height: 100px;
    }
}
.footlogo{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}
.flogo{
    width: 100px;
}
.facility{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    line-height: 0px;
}
.footp{
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
font-weight: bolder;
line-height: 0px;
cursor: pointer;
}
.footp:hover{
    color: silver;
}
@media screen and (max-width:750px)
{
.footlogo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flogo{
    width: 60px;
}
.facility{
    width: 100%;
    display: flex;
    flex-direction: column;
    
   
   
    
}
.footp{
    font-size: 10px;
}

}
.footer{
    width: 100%;
    height: 120px;
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.icn{
    color: white;
    font-size: 30px;
}
@media screen and (max-width:750px)
{
    .footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icn{
        font-size: 20px;
    }
}

